
oop-practice/build/tmp/compileJava/previous-compilation-data.bin
*.class
oop-practice/.idea/libraries-with-intellij-classes.xml
oop-practice/.idea/jarRepositories.xml
oop-practice/.idea/gradle.xml
oop-practice/.idea/compiler.xml
oop-practice/.gradle/vcs-1/gc.properties
oop-practice/.gradle/file-system.probe
oop-practice/.gradle/buildOutputCleanup/outputFiles.bin
oop-practice/.gradle/buildOutputCleanup/cache.properties
oop-practice/.gradle/buildOutputCleanup/buildOutputCleanup.lock
oop-practice/.gradle/7.5.1/gc.properties
oop-practice/.gradle/7.5.1/fileHashes/resourceHashesCache.bin
oop-practice/.gradle/7.5.1/fileHashes/fileHashes.lock
oop-practice/.gradle/7.5.1/fileHashes/fileHashes.bin
oop-practice/.gradle/7.5.1/fileChanges/last-build.bin
oop-practice/.gradle/7.5.1/executionHistory/executionHistory.lock
oop-practice/.gradle/7.5.1/executionHistory/executionHistory.bin
oop-practice/.gradle/7.5.1/dependencies-accessors/gc.properties
oop-practice/.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
oop-practice/.gradle/7.5.1/checksums/sha1-checksums.bin
oop-practice/.gradle/7.5.1/checksums/checksums.lock
oop-practice/build/tmp/compileTestJava/previous-compilation-data.bin
oop-practice/.idea/vcs.xml
oop-practice/.idea/misc.xml
.DS_Store
.DS_Store
